
        <div class="container mt-5" style="margin-left: 160px;"  >
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class=" bg-dark rounded-3 text-light mb-3 text-center py-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                          </svg>CONTACT
                    </div>
                </div>
              
            </div>
            <div class="row " >
                <div class="col-md-4 offset-md-4" *ngFor="let item of getNote"   >
            <div class="card  " style="width: 18rem;" style="padding:10; margin-bottom: 10px; box-shadow: 4px 4px ">
                <div class="card-body" >
                    <div style="float:right">
                    <button (click)="EditNotesListt(item)" class="btn " type="button " ><i class="fas fa-pen text-danger"></i></button>                                
                    <button (click)="MovetrashNotesList(item)" class="btn " type="button">
                    <i class="fas fa-trash-alt  text-danger"></i></button></div><br>
                  <p class="card-title">{{item.name}}</p> 
                  <p class="card-text">{{item.phonenumber}}</p> 
                  <p class="card-text">{{item.email}}</p> 
                
                </div>
            </div>
            </div>   
        </div> 
    
          
       
  </div>



   